.DailyWeather {
    font-family: 'Questrial', sans-serif;
    height: 150px;
    width: 200px;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding-top: 15px;
    margin-right: 20px;
}
.w-list {
    list-style: none;
    margin: 0;
}
.Daily-temp{
    display: flex;
    justify-content: space-around;
}
.DailyWeather:hover{
    border: 1px solid #ffffff;
    transition: 5ms linear;
    cursor: pointer;
    box-shadow:   0 0 7px 5px #cc6021;
}