.Weather{
    display: flex;
    justify-content: center;
    padding: 100px 0 100px 0;
    flex-grow: 1;
    width: 100%;
    background-image: url("https://wallpapersite.com/images/pages/pic_h/17127.jpg");
    position: inherit;
}
.Weather h1{
    color:#ffffff;
    margin-left: 10px;
}

.WeatherWrapper ul{
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}



