.ActiveWeather{
    padding: 20px;
    color:#ffffff;
    border-radius: 5px;
    margin: 0 0 50px 25%;
    box-sizing: border-box;
    width: 500px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}
.Active-temp {
    display: flex;
    justify-content: center;
}

