.ActiveWeather{
    padding: 20px;
    color:#ffffff;
    border-radius: 5px;
    margin: 0 0 50px 25%;
    box-sizing: border-box;
    width: 500px;
    font-family: 'Questrial', sans-serif;
    text-align: center;
}
.Active-temp {
    display: flex;
    justify-content: center;
}
.Weather-diagram {
    background: transparent;
    width: 70px;
    height: 70px;
    font-family: 'Questrial', sans-serif;
    font-size: 25px;
    border: 10px solid dodgerblue;
    border-right: 10px solid lightblue;
    border-radius: 100px;
    color: white;
}

