.Layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Layout main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.Footer {
    background-color: #282828;
    height: 200px;
    color: white;
}
.Footer ul {
    padding: 20px;
    list-style: none;
    margin: 0;

    display: flex;
    justify-content: space-between;

}